language: cpp
dist: bionic
compiler: gcc

before_install:
  - pip install --user cpp-coveralls
  - export DISPLAY=:99.0

addons:
  sonarcloud:
    organization: "doomfister"

script:
  - qmake
  - make
  - export LD_LIBRARY_PATH=$(pwd)/external/SFML-2.5.1/lib
  - ./tests/tests

after_success:
  - coveralls --root . -E ".*external.*" -E ".*tests.*"
  - build-wrapper-linux-x86-64 --out-dir bw-output make clean all
  - sonar-scanner -Dsonar.cfamily.build-wrapper-output=bw-output

cache:
  directories:
  - '$HOME/.sonar/cache'

notifications:
  email: false
